.topics-bg-img{
  background-image: url(../src/assets/Wave.jpg);
}

.sidebar {
  background-color: #2C384A; /* Darker sidebar color */
  color: #FFFFFF; /* White text color */
}
.topic-container {
  background-color: #242c40; /* Dark gray background color */
}

.topic-content {
  background-color: #ffffff; /* White background for content */
  color: #000000; /* Black text color */
}
